body {
    background: rgb(201, 244, 245);
    font-size: 1.15em;
    text-align: justify;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}


.title {
    color: rgb(214, 77, 62);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(247, 118, 104)
} 

 .subtitle {
    color: rgb(247, 118, 104);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(247, 118, 104)
} 

.link {
    text-decoration: underline;
}

.italics {
    font-style: italic;
}


#about-us-image {
    height: 300px;
    width: 60%;

    border: 10px solid rgb(66, 41, 82);
    margin: 80px 40px;

    float: right;
}

.site-table {
    display: inline-block;
}





/* Gradiant 
{
    background: linear-gradient(to right, red, blue);
}
{
    background: linear-gradient(to bottom right, red, blue);
}

Radial Gradiant
{
    background: radial-gradiant(cicrle, red 20%, blue 40%, green 50%);
}
*/

